{% extends 'downloader/base.html' %}
{% load static %}

{% block content %}
<section class="terms-section">
    <div class="container">
        <div class="terms-content">
            <h1>Terms of Service - SssTik™</h1>
            
            <div class="terms-intro">
                <p>Please read these terms of service (<strong>Terms of Service</strong> or <strong>ToS</strong>) carefully before accessing our application and website.</p>
                <p>Our ToS may change from time to time to be in line with the developments to our application and website to give our valued users the highest satisfaction. Please check regularly the update time on top of the ToS to ensure you have read the updated version with changes.</p>
            </div>

            <div class="terms-section">
                <h2>Acceptance of Terms of Service</h2>
                <p>By accessing and using our application and website, you signify your acceptance of our policy and ToS, including the updated versions. If you do not agree with any content, please do not use our application and website.</p>
            </div>

            <div class="terms-section">
                <h2>Who may use our Services (User)</h2>
                <p>Our ToS governs the relationship between SssTik application (<strong>SssTik App</strong>) and users of SssTik App being who access the SssTik App and/or use the products and services provided through the SssTik App (<strong>SssTik Products and Services</strong>).</p>
                <p>Our ToS is a mutual agreement between you, either an individual or an entity (<strong>You</strong> or <strong>User</strong>) or a group of individuals or entities (<strong>You</strong> or <strong>Users</strong>), and the developer of SssTik Products and Services (<strong>SssTik</strong>) regarding the use of SssTik Products and Services.</p>
                <p>By accessing or using SssTik Products and Services, you confirm that you have carefully read, understood and accepted our ToS, and you agree to abide by the ToS as a User/Users.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}